.login-form {
  /*align-content: center;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25% auto 0;*/
  width: 50%;
  text-align: center;
  margin: 15% auto 0;

  background: darkgray;
  padding: 10%;

  box-shadow: 10px 10px 8px #000;
}

.login-form h3 {
  font-family: Calibri, "Times New Roman";
}
