<!--<%@page import="com.javapapers.java.social.facebook.FBConnection"%>-->
<!--<%@ page language="java" contentType="text/html; charset=ISO-8859-1"-->
<!--pageEncoding="ISO-8859-1"%>-->
<!--<%-->
<!--FBConnection fbConnection = new FBConnection();-->
<!--%>-->
<!DOCTYPE html>
<html>
  <div class="login-form">
    <!--<h2>
      Sign in
    </h2>
    <mat-form-field class="example-full-width">
     <textarea matInput placeholder="Choose a Nickname"></textarea>
    </mat-form-field>
    <br>-->
    <div *ngIf="inputNickname;else showLogin"> 
        <mat-form-field>
            <textarea matInput placeholder="Choose a nickname" [(ngModel)]="nickname"></textarea>
        </mat-form-field>
          <button mat-raised-button color="primary" (click)="setUserName()">Confirm</button>          
    </div>
    <ng-template #showLogin>
        <h3>It looks like you don't have account or you haven't logged yet. <br> Please click on the button below which will log you with your <br> <i>Google Profile</i>.</h3>
        <button mat-raised-button color="primary" (click)="socialSignIn('google')">Google Login</button>
    </ng-template>
  </div>
</html>
